/tests/Feature/playgroundTest.php
/tests/Feature/todoTest.php
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/vendor
/.idea
/.idea/*
.env
.env.dusk.local
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yml
/.docker
Dockerfile
Makefile
_ide_helper.php
_ide_helper_models.php
.DS_Store
