// Sailor CSS
@use "sailor_config";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

@import "~vue-snotify/styles/material";

.link {
    cursor: pointer;
    color: $primary;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.lightHover:hover {
    background-color: #3b89cb;
}

.badge {
    margin-right: 5pt;
    padding-top: 3pt;
    padding-bottom: 3pt;
    font-weight: normal;
    border: darkgray 1px solid;
    display: inline-block;
}

.card-default {
    margin-bottom: 50px;
}

.dashboard-widgets {
    &> .row > .col > .card {
        height: 100%;
    }
}

.widget-tools-container {
    position: absolute;
    top: 6px;
    z-index: 2;
    right: 20px;
}

.widget-configuration-modal {
    .modal-header {
        display: block;
        align-items: center;
        text-align: center;
    }
}

// Snotify

.snotify-centerBottom {
    bottom: 0;
}
.snotifyToast__inner {
    min-height: 45px    ;
}

.swipe-action-container {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
    font-size: 1.5em;

    &--right {
        flex-direction: column-reverse;
    }

    &--left {
        flex-direction: column;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.bg-info {
    background-color: #aef4de !important;
}
