// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

// Handsontable
@import '~handsontable/dist/handsontable.full.css';

@import "~vue-snotify/styles/material";

.dashboard-widgets {
    &> .row > .col > .card {
        height: 100%;
    }
}

.widget-tools-container {
    position: absolute;
    top: 6px;
    z-index: 2;
    right: 20px;
}

.widget-configuration-modal {
    .modal-header {
        display: block;
        align-items: center;
        text-align: center;
    }
}

// Snotify

.snotify-centerBottom {
    bottom: 0;
}
.snotifyToast__inner {
    min-height: 45px    ;
}
