
/* stylelint-disable */
@use "sailorcss" with (

   // --------------------------------------------------------------------------
   // •• BREAKPOINTS MAP
   // Required for : Responsive variant, spacing utilities and the media queries mixin.
   // --------------------------------------------------------------------------
   $s-breakpoints: (
      "xxs": 0,
      "xs": 375px,
      "sm": 576px,
      "md": 768px,
      "lg": 1024px,
      "xl": 1200px,
      "xxl": 1400px,
      "xxxl": 1600px,
   ),


   // --------------------------------------------------------------------------
   // •• RESPONSIVE CLASSES SEPARATOR
   // The prefix separator for the responsive classes. Ex: md:grid-col-4.
   // --
   // IMPORTANT => If you use ":" with purgeCSS, you will need this custom extractor [A-Za-z0-9-_:/]+/g
   // You can use any character like "-", "_", "--", etc. without custom extractor.
   // --------------------------------------------------------------------------

   $s-responsive-prefix-separator: ":",


   // --------------------------------------------------------------------------
   // •• SPACING VALUES
   // Required for : Spacing utilities and CSS grid-gap property.
   // Values are automatically added to :root with --spacing as var name.
   // You can use pixels or relative units.
   // See official documentation for more information.
   // --
   // See the next $s-spacing-fractions section for fractions based values.
   // --------------------------------------------------------------------------

   $s-spacing-values: (

      "xs": 5rem,
      "md": 6rem,
   ),


   // --------------------------------------------------------------------------
   // •• SPACING FRACTIONS
   // Required for : Spacing utilities and CSS grid-gap property.
   // The keys will be used for class names. E.g. mb-half, pb-none, gap-full, etc.
   // --
   // The full value correspond to the value that you previously set in $s-spacing-values for each breakpoint.
   // --------------------------------------------------------------------------

   $s-spacing-fractions: (
      "full": 1,
      "threequarter": 0.75,
      "twothird": 0.66,
      "half": 0.5,
      "third": 0.33,
      "quarter": 0.25,
      "sixth": 0.16,
      "none": 0,

   ),

   // --------------------------------------------------------------------------
   // •• GRID AND ROWS NUMBERS
   // The maximum number of columns and rows used to generate the grid and order classes.
   // Do not set a super high value if you don't need to.
   // --
   // If you use 6, you can use grid-col-2, grid-col-4, grid-col-5, grid-col-6, but not grid-col-7 and up.
   // A value around 6 or 8 is often enough for common website projects.
   // See official documentation for more information.
   // --------------------------------------------------------------------------

   // required for grid and ordering columns utility classes
   $s-grid-cols-number: 12,

   // required for grid row utilty classes
   $s-grid-rows-number: 4,



   // --------------------------------------------------------------------------
   // •• GRID AUTO FLOW PROPERTY
   // Map ---- Class name : Property value
   // Add or remove value if you want.
   // --------------------------------------------------------------------------
   $s-grid-flow: (
      "grid-flow-column": column,
      "grid-flow-row": row
   ),


   // --------------------------------------------------------------------------
   // •• DISPLAY AND POSITIONING
   // Map ---- Class name : Property value
   // Add or remove value if you want.
   // --------------------------------------------------------------------------

   $s-displays: (
      "sd-none": none,
      "sd-block": block,
      "sd-flex": flex,
      "sd-inline-block": inline-block,
      "sd-inline-flex": inline-flex,
   ),


   $s-positions: (
      "p-relative": relative,
      "p-absolute": absolute,
   ),



   // --------------------------------------------------------------------------
   // •• FLEXBOX
   // Map ---- Class name : Property value
   // Add or remove value if you want.
   // --------------------------------------------------------------------------

   $s-flex-direction: (
      "direction-row": row,
      "direction-column": column,
      "direction-row-reverse": row-reverse,
      "direction-column-reverse": column-reverse,
   ),


   $s-justify-content: (
      "justify-content-start": flex-start,
      "justify-content-end": flex-end,
      "justify-content-center": center,
      "justify-content-between": space-between,
      "justify-content-around": space-around,
   ),


   $s-align-items: (
      "align-items-start": flex-start,
      "align-items-end": flex-end,
      "align-items-center": center,
      "align-items-stretch": stretch,
   ),



   // --------------------------------------------------------------------------
   // Responsive ratio utilities
   // Map ---- Class name : Ratio (just a space between two values)
   // Add or remove value if you want.
   // Can also be used as a mixin, see official documentation.
   // --------------------------------------------------------------------------

   $s-ratios: (
      "ratio-1x1": 1 1,
      "ratio-4x3": 4 3,
      "ratio-16x9": 16 9,
   ),



   // --------------------------------------------------------------------------
   //   Responsive ratio utilities
   //   Map ---- Class name : Value
   //   New aspect-ratio CSS property - For modern browsers only
   // --------------------------------------------------------------------------

   $s-aspect-ratios: (
      "aspect-ratio-1x1": "1/1",
      "aspect-ratio-4x3": "4/3",
      "aspect-ratio-16x9": "16/9",
   ),
);
/* stylelint-enable */
